.skill-item {
  display: flex;
  justify-content: space-between;
}
.form {
  padding: 20px;
}

.form-message {
  color: red;
}
.form-gender,
.form-check-label {
  padding-right: 15px;
}
.text-color {
  color: #555555;
}
